#impact{
    width:100%;
    max-height: 100vh;
    padding-top:150px;
    text-align: center;
    background-color: #F5F5F5;
    min-height: 100vh;
}

.impact-icon{
    padding: 10px;
    background-color:#FF7F50 ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.screw-driver{
    font-size: 60px;
    color: white;
}

.impact-text h3{
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: "inter";
}
.impact-text h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.impact-text p{
    width: 50%;
    margin: 10px auto;
    line-height: 1.5;
}

.return{
    padding: 10px;
    color: white;
    background-color: #FF7F50;
    border-radius: 50px;
    border: none;
    margin: 10px 0;
    font-size: 1.1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.return:hover{
    background-color: #0f3d2e;
}
.arrow{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:924px) {
    .impact-text h3{
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "inter";
}
.impact-text h4{
    font-size: 1rem;
    margin-bottom: 10px;
}
.impact-text p{
    width: 100%;
    margin: 10px auto;
    line-height: 1.5;
}
#impact{
    width:100%;
    max-height: 100vh;
    padding: 150px 20px 0;
    text-align: center;
    background-color: #F5F5F5;
    min-height: 100vh;
}




    
}